:host {
  width: 90%;
}
.search-card {
    width: 90%;
}

.search-card .mat-form-field {
    width: 100%;
}

.search-card .mat-icon[matPrefix] {
    margin-right: 10px;
}

.search-card .mat-input-element {
    width: 93%;
}

.search-card .mat-button {
    min-width: 30px;
    padding: 0;
    line-height: 20px;
    position: relative;
    bottom: 6px;
}
.search-list-result {
  width: 100%;
}
.search-result {
  width: 90%;
  margin-top: 20px;
}

.search-result .mat-form-field {
  width: 42%;
  margin: 0 15px;
}



@media only screen and (max-width: 600px)  {
  .search-card .mat-input-element {
    width: 85%;
   }

  .search-result .mat-form-field {
    width: 90%;
  }
}
